* {
    box-sizing: border-box;
    }
     
*:focus {
    outline: none;
    }

body {
    font-family: Arial;
    /*background-color: rgb(99, 111, 117);*/
    background-image:url("../imgs/zeroKPImg.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    }

#top {  
        width: 100%;
        height: 13%;
        text-align: center;
        color: #777;
        margin-top: 1%;
        }

#imgHolder{width: 16%; height: 85%; float: left; margin-top: 0.5%; margin-left: 3.5%;}

#appImg{
    border-radius: 10%;
    width:75%;
    height: 99%;   /*200%*/
    margin: 0% 0%;
    transition: transform .2s; /* Animation */
}

#appImg:hover{
    transform: scale(0.8); /* Negative value rotates and decreases size.*/
}
#appTitleHolder{width: 70%; height: 85%; float: right; margin-right: 10%;}
    
#appHeadingOne{
    color: rgb(179, 49, 120);
    font-size: 290%;
    font-family: sans-serif;
    margin: 1.1% auto;
}

#appHeadingTwo{
    color: rgb(80, 33, 59);
    font-size: 200%;
    font-family: sans-serif;
    margin: 0.5% auto;
    text-decoration-line: underline;
}

#middleWrapper{
    width: 72%;
    height: 65%;
    margin: 6% auto;
}

#inputSection{
    width: 90%;
    height: 40%;
    margin: -1.5% auto;
}

.control-group {
    margin: 0.5% auto;
    }
     
input {
    text-align: center;
    background-color: rgb(187, 194, 196);
    border: 2px solid rgb(247, 242, 247);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 93%;
    transition: border .5s;
    border-radius: 4%;
    margin: 0.5% auto;
    }
     
input:focus {
    border: 2px solid rgb(233, 176, 245);
    box-shadow: none;
    }
     
.btn {
    border: 2px solid transparent;
    background: rgb(155, 108, 147);
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 65%;
    box-shadow: none;
    transition: 0.45s;
    display: block;
    width: 26%;
    height: 83%;
    margin: 3.5% auto;
    }
     
.btn:hover {
    background-color: rgb(161, 68, 146);
    transform: scale(1.1); /* Negative value decreases size.*/
    }

#buttonOne{
    float: left;
    margin-left: 15%;
    font-size: 125%;
}

#buttonTwo{
    float: right;
    margin-right: 15%;
    font-size: 125%;
}

.userEntries{
        width: 63%;
        height: 10%;
        margin: 2% auto;
        background-color: rgb(132, 143, 146);
        border-radius: 1%;
    }

.dataSection{
        margin-top: 1%;
        margin-left: 3.3%;
    }
